$main: #0d2565;
@charset "UTF-8";
*:not(.fa) {
  font-family: courier, xingothic-tc;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
h1,h2,h3,h4 {
  margin: 0;
}


nav {
  width: 305px;
  background-color: #3b3b3b;
  position: fixed;
  height: 100vh;
  padding-top: 24px;
  line-height: 2;

  h2 {
    color: white;
    display: block;
    cursor: pointer;
    text-indent: 35px;
    transition: all .1s;
    line-height: 2.3;
    position: relative;

  }

  span {
    color: #8a8a8a;
    display: block;
    text-indent: 77px;
    cursor: pointer;
    transition: all .1s;
  }

  span:hover {
    color: white;
    text-decoration: none;
  }

  span.active {
    background-color: #292929;
    color: white;
    text-decoration: none;
  }

  .toggle {
    position: relative;
    .open {
      position: absolute;
      left: 35px;
      top: -28px;
      pointer-events: none;
    }
  }
}

.main {
  width: 100%;
  background-color: #292929;

  article {
    padding: 80px 0 0 30px;
    margin-left: 305px;
  }

  h2 {
    color: #E08A43;
    font-weight: 600;
  }

  h4 {
    color: #A0D9DB;
    width: 550px;
    border-left: dashed 1px #634034;
  }

  .lili {
    list-style-type:square;
    text-indent: 36px;
  }
}

.indent-1 {
  padding-left: 36px;
  border-left: dashed 1px #634034;
}

.indent-2 {
  padding-left: 18px;
  border-left: dashed 1px #634034;
}

.tabs {
  height: 65px;
  width: 100%;
  background-color: #1f1f1f;
  position: fixed;
  left: 305px;

  .tab {
    // position: relative;
    width: 290px;
    background-color: #292929;
    height: 100%;
    border-bottom: solid 3px #ed7a53;
    color: white;
    font-weight: 600;
    line-height: 68px;
    text-align: center;
    font-size: 18px;
  }
}

i {
  color: #777777;
  font-size: 18px;
}

::selection {
    background: #a1a1a1;
}

a {
  color: #E8DE6B;
  text-decoration: underline;
  outline: none;
  transition: all .1s;
}

a:focus, a:hover {
 color: #FFEA00;
 outline: none;
}

.sb-thumbnail {
  position: fixed;
  right: 20px;
  top: 70px;
  width: 128px;
}

footer {
  background-color: #1E1E1E;
  height: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #777;
  text-align: center;
  font-family: helvetica;
}

@media screen and (max-width:768px){

}